# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

# Ignore model binaries
models/*.pkl

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db
